@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Black.ttf");
    font-weight: 900;
  }

  html {
    scroll-behavior: smooth;
    }

  body, html, li, ul, div, p, button, input  {
    margin: 0;
    padding: 0;
}


p {
margin-block-start: 0px;
margin-block-end: 0px;
}

ul {
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
}

h1, h2, h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

button {
    border-width: unset;
    border-style: unset;
    border-color: unset;
    background-color: unset;
    cursor: pointer;
  
}

.link, a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    transition: 1s;
}

input {
        padding: 0px;
        border-width: 0px;
        border-color: unset;

}

main {
    margin: 0px 80px;
}
header {
    align-items: center;
    text-align: center;
}

.logo {
    margin: 80px 0px;
    height: 60px;
    width: auto;
}
body {
    position: relative;
}
.burger {
 
    display: none;
}

.burger_field {
    height: 31px;
    width: 48px;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.line {
    height: 5px;
    width: 100%;
    background-color: #005BBB;
}
.menu {
font-family: 'Montserrat';
font-weight: 400px;
font-size: 20px;
line-height: 24px;
color: #005BBB;
display: flex;
justify-content: center;
}

.menu_item {
    margin-right: 80px;
}

.menu_item:last-child {
    margin-right: 0px;
}

.slider {
    margin: 80px 0px;
    
}

.gallery {
   display: flex;
   justify-content: center;
  
}


.slick-dots {
    display: flex;
    justify-content: center;
 text-align: center;
    margin: 40px 0px 80px;
}

.slick-dots button {
    width: 20px;
    height: 20px;
    border: 1px solid #005BBB;
    border-radius: 50%;
    margin: 0px 8px 0px;
    font-size: 0px;

}



.slick-dots .slick-active button {
background: #005BBB;
}

.slick-dots button {
    width: 18px;
    height: 18px;
    border: 1px solid #005BBB;
    border-radius: 50%;
    margin: 0px 8px 0px;
}

.about {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;  
    color: #005BBB;
    max-width: 1024px;
    margin: 0 auto;
}

p {
    margin-bottom: 16px;
}

.br {
    margin-bottom: 0px;
}
.section {
    max-width: 1024px;
    margin: 0 auto;
margin-top: 78px;
text-align: center;
border-top: 1px #005BBB solid;

}

.section_title {
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #005BBB;
    line-height: 49px;
    border-bottom: 1px #005BBB solid;
    width: 500px;
    padding: 15px 0px;
    margin-bottom: 40px;
}

.history_dates {
    display: flex;
    gap: 28px;
}

.history_column {
    display: flex;
	width: 50%;
    background-color: #005BBB;
    height: 394px;
    position: relative;
    align-items: center;
}

.history_column::before {
    content: " ";
    width: 10px;
    height: 100%;
    background-color: #FFD500;
    position: absolute;
}

.text {
    padding: 60px 40px 40px 40px;
    color: #FFFFFF;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 140%;
text-align: left;
margin-bottom: 0px;
}

span {
    font-size: 48px;
}

.contact_form {
    border: 1px solid #005BBB;
    display: flex;
    padding: 28px;
    justify-content: space-between;
    margin-bottom: 160px;
}

input[type=text] {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #005BBB;
width: 100%;

}

input[type=submit] {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;
text-align: center;
letter-spacing: 0.06em;
background: #005BBB;
color: #FFFFFF;
padding: 13px 56px;
}

::placeholder {
    color: #005BBB;
    opacity: 0.5;
    text-align: left;

  }

  .gallery img {
    width: 400px;
    margin: 0 auto;
  }
  
  .button_send {
    display: none;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;
text-align: center;
letter-spacing: 0.06em;
background: #005BBB;
color: #FFFFFF;
padding: 13px 56px;
text-transform: uppercase;
width: 100%;
margin-bottom: 120px;
}

.popup {
 
  
    width: 100%;
    background-color: #005BBB;
    position: absolute;
    top: 0px;
    left: -2000px;
    z-index: 100;
}
.active {
    left: 0px;
}

.popup_header {
    margin: 48px 60px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .popup_menu {
        font-family: 'Montserrat';
        font-weight: 400px;
        font-size: 20px;
        line-height: 24px;
        color: white;
        display: flex;
        justify-content: center;
        padding-top: 121px;
        } 
        .popup_send {
            padding: 30px 40px;
            border: 1px solid white;
            display: flex;
            padding: 28px;
            justify-content: space-between;
            margin: 80px 60px 148px;
        }
        .popup_send input[type=submit] {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 34px;
            text-align: center;
            letter-spacing: 0.06em;
            background: white;
            color: #005BBB;
            padding: 13px 56px;
        }
        .popup_send input[type=text] {
            font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #ffffff;
        width: 100%;
        background-color: #005BBB;
        }
        .popup_send ::placeholder {
            color: #ffffff;
            opacity: 0.5;
            text-align: left;
        
          }

        .close {
            height: 48px;
            width: auto;
        }
        

  @media screen and (max-width: 1250px)
{   
   
    .burger {
        display: block;
        position: absolute;
        top: 46px;
        right: 50px;
        padding: 10px;
        cursor: pointer;
        z-index: 100;
    }
  
    main {
        margin: 0px 60px;
    }

    header {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.logo {
    margin: 48px 0px 80px 60px;
}
.menu {
    display: none;
} 

.slider {
    max-width: 100%;
        margin: 0px 0px 80px;
}
.about {
        font-size: 24px;
        line-height: 34px;
 
    max-width: 100%;
}

.section {
    max-width: 100%;
   
}
.section_title {
   
    width: 452px;
    
}
.history_dates {
  flex-direction: column;
}

.history_column {
    width: 100%;
   
    height: 100%;
 
}

.section_title {
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.06em;
}

.contact {
    margin-top: 100px;
}
.contact_form {
    padding: 30px 40px;
   
}
}

@media screen and (max-width: 700px) {

    main {
        margin: 0px;
    }
    .popup_header {
        margin: 24px 20px 0px;
    } 

    
    header {
        height: 100%;
    }

    .logo {
        display: none;
    } 
    .slider {
        max-width: 100%;
        margin: 0px;
    }
    .about {
       margin: 48px 20px;
            font-size: 16px;
            line-height: 22px;
           
    }
    .section {
        margin:47px 20px 0px 20px;
    }
    .section_title {
        width: 335px;
        font-size: 20px;
line-height: 24px;
margin-bottom: 24px;
    }

    span {
        font-size: 24px;
line-height: 29px;
display: block;
    }

    .text {
        font-size: 16px;
    line-height: 22px;
    padding: 30px;
    }

    input[type=submit] {
        display: none;
    }
    ::placeholder {
       
        text-align: center;
    
      }
     .popup_form {
        margin: 90px 20px 60px;
      } 

      .popup_send {
        margin: 80px 0px 148px;
      }
     
      .popup_send ::placeholder {
        text-align: center;
      }



      .contact_form {
          height: 148px;
          padding: 0px;
          margin-bottom: 19px;
      }
      input[type=text] {
          padding-bottom: 90px;
      }

    .button_send {
        display: block;
    }
    .button_send {
        margin: 0px;
    }

    .gallery img {
        height: 180px;
        min-width: 432px;
    }

    .slick-dots button {
        width: 8px;
        height: 8px;
    }

    .slick-dots {
    margin: 13px 0px 0px;
    }

    p {
        margin-bottom: 8px;
    }

    .history_dates {

        gap: 25px;
    }

     .popup_button {
    background: #ffffff;
    color: #005BBB;
  

    } 
}

@media screen and (max-width: 450px) {
    .popup_logo img{
    display: block;
    height: 48px;
  
    }
    .burger {
       
        top: 20px;
        right: 20px;
      
    }
    .popup_menu {
        justify-content: left;
        padding-top: 48px;
        flex-direction: column;
    }

    .menu_item {
        margin: 0px 20px 48px;
        text-align: left;
    }

    .menu_item:last-child {
        margin: 0px 20px;
    }


}

@media screen and (max-width: 375px) {
   .section_title {
       width: 100%;
   } 
}